{% block header %}
    <header id="header" class="header header-sticky p-0 mb-4" {% block header_attributes %}{% endblock %}>
        {% block header_content %}
            <div id="header-content" class="container-fluid border-bottom px-4" {% block header_content_attributes %}{% endblock %}>
                <ul class="header-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Some
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Some
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Some
                        </a>
                    </li>
                </ul>
            </div>
        {% endblock %}
        {% block breadcrumb %}
            <div id="breadcrumb" class="container-fluid px-4" {% block breadcrumb_attributes %}{% endblock %}>
                {% block breadcrumb_content %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb my-0">
                            <li class="breadcrumb-item active">
                                Something
                            </li>
                        </ol>
                    </nav>
                {% endblock %}
            </div>
        {% endblock %}
    </header>
{% endblock %}