{% block sidebar %}
<div id="sidebar" class="sidebar border-end sidebar-fixed sidebar-dark">
    <div class="sidebar-header border-bottom">
        {% block sidebar_header %}
            <div class="sidebar-brand">InfinityAdmin</div>
        {% endblock %}
    </div>
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" hx-get="{{ path('infinity.clear.opa') }}" hx-swap="innerHTML" hx-target="#body" hx-push-url="true">
                Dashboard
            </a>
        </li>
        {% set lastGroup = null %}
        {% for resource in infinity_resource().all() %}
            {# @var \Infinity\Entity\Model\Resource resource #}
            {% if resource.displayable() %}
                {% if lastGroup is null or lastGroup != resource.group.id %}
                    <li class="nav-title">
                        {{ resource.group.label }}
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" hx-get="{{ infinity_router().generate(resource) }}" hx-swap="innerHTML" hx-target="#body" hx-push-url="true">
                        {{ resource.entity }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="sidebar-footer border-top d-flex">
        <button class="sidebar-toggler" type="button"></button>
    </div>
</div>
{% endblock %}