{% extends '@InfinityBundle/base.html.twig' %}

{% block container %}
    <div class="container-lg px-4">
        {% block content %}
            This was rendered dynamically via separate logic in the request
        {% endblock %}
    </div>
{% endblock %}