<div id="modal-container" hx-swap-oob="true">
    {% embed '@Infinity/component/modal.html.twig' %}
        {% block title %}Login required{% endblock %}
        {% block body %}
            Login form here!
        {% endblock %}
    {% endembed %}
</div>